h1{
    color: #00BFFF;
    font-size: 30px;
    text-align: center;
    
}

p{
    color: black;
    font-family: Arial, sans-serif;
    font-size: 15px
}

.menu{

    color: black;
    font-family: Arial, sans-serif;
    font-size: 15px
}
