<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-Commerce</title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>

    <body>

        <div class="container">
            <h1>Bem-Vindo KAZULO </h1>
            <p>Digite os dados para acessar a plataforma</p>

            <div class="oi">
                <form action="menu.html" method ="post">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite seu nome">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha">
                    <input type="submit" value="Entrar">
                    <p>Se você não tem cadastro, <a href="cadastro.html">clique aqui</a></p>
                </form>      
            </div>

        </div>
    </body>
</html>